.arrow_box {
  position: fixed;
  right: 12%;
  top: 85vh;
  @media only screen and (max-width: 600px) {
    display: none;
  }
  .arrows {
    width: 60px;
    height: 80px;
    cursor: pointer;
    path {
      stroke: #fff;
      fill: transparent;
      stroke-width: 5px;
      animation: arrow 2s infinite;
      -webkit-animation: arrow 2s infinite;
    }
    .a1 {
      animation-delay: -1s;
      -webkit-animation-delay: -1s;
    }
    .a2 {
      animation-delay: -0.5s;
      -webkit-animation-delay: -0.5s;
    }
    .a3 {
      animation-delay: 0s;
      -webkit-animation-delay: 0s;
    }
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
