.game_campaign_close {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  .cow {
    width: 350px;
    padding: 10px 0 0 10px;
  }
  .inner_content {
    text-align: center;
    padding: 30px 10px;
    max-width: 500px;
    min-height: 200px;
    width: 90%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    box-shadow: #ed2025 0px 0px 16px;
    border-radius: 10px;
    h2 {
      font-size: 65px;
      font-weight: 600;
      color: #ed2025;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      font-weight: 400;
    }
  }
  .pack_shot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .game_campaign_close {
    .cow {
      width: 250px;
    }
    .inner_content {
      h2 {
        font-size: 60px;
      }
    }
  }
}
@media only screen and (max-width: 640px) {
  .game_campaign_close {
    .inner_content {
      max-width: 400px;
      h2 {
        font-size: 48px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
